<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Metro and BikeShare Interdependence</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    {{plot_script1|safe}}
    {{plot_script2|safe}}
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">DC Metro + capital bikeshare</h3>-->
                  <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <!--<a class="navbar-brand" href="/index">MetroShare</a>-->
                          <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav masthead-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="/interact">Check it out!</a></li>
                                    <li><a href="https://github.com/dandtaylor/MetroShare">My GitHub</a></li>
                                  </ul>

                      </div>
                      <div id="navbar" class="navbar-collapse collapse">
                      </div><!--/.navbar-collapse -->
                    </div>
                  </nav>
              <!--<nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Check it out!</a></li>
                  <li><a href="https://github.com/dandtaylor/MetroShare">My GitHub</a></li>
                </ul>
              </nav>-->
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">MetroShare</h1>
            <p class="lead">Understanding how commuters use the DC metro and Capital Bikeshare systems together to commute to and from work everyday.</p>
            <p class="lead">
              <a href="#learn" class="btn btn-lg btn-default">Learn more</a>
            </p>
            <p class="lead">
              <a href="https://dandtaylor.github.io/MetroShare/" class="btn btn-lg btn-default">Full Analysis</a>
            </p>
          </div>

          <!--<div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>-->
          </div>

        </div>

      </div>

    </div>
                
    <div class="container">
      <!-- Example row of columns -->
      <div class="row"  id="learn">


        <div class="col-md">
          <h3>Ride distance for all weekday rides.</h3>
          

          <p>The below plot shows the distribution of ride distances with no consideration for time of day. The proximity of each ride to metro stations was also not considered.</p>
          <!---<p> <img src="../static/images/ride distance all times.png"  width=75% /> </p>-->
            <div class='bokeh'>
              <center>{{plot_div1|safe}}</center>
            </div>


            

        </div>
        <div class="col-md">
          <h3>Ride distance for rides ending near and far from metro stations during the morning rush.</h3>
          <p>The below plot shows the distribution of ride distances during the morning rush. The green bars show the portion of trips which ended at bikeshare stands within 0.15 miles of a DC metro station. The red bars show the portion of rides which terminated at DC metro stations further than 0.15 miles from any metro station.</p>
          <!--<p> <img src="../static/images/ride distance morning rush.png"  width=75% /> </p>-->
            <div class='bokeh'>
              <center>{{plot_div2|safe}}</center>
            </div>

        </div>

        <div class="col-md">
          <h3>Most popular metro stations during morning rush</h3>
          <!---<a href = "{{ url_for('morning_map') }}" > <img src="../static/images/morning_10_map_image.png"  width=50% /> </a>-->
          
          <p><iframe frameborder='0' noresize='noresize'  style= 'position: static; background: transparent; width: 600px; height:600px;' src="{{ url_for('morning_map') }}" frameborder="0"></iframe></p>

          <p> The above map indicates the locations of metro stations (green flags), the most popular morning rush hour starting stations (red flags), and the most popular morning rush hour ending stations (blue flags). Clicking on the image will load an interactive map.</p>
        </div>

        <div class="col-md">
          <h3>Most popular metro stations during evening rush</h3>
          <!--<a href = "{{ url_for('evening_map') }}" > <img src="../static/images/evening_10_map_image.png"  width=50% /> </a>-->

          <p><iframe frameborder='0' noresize='noresize'  style= 'position: static; background: transparent; width: 600px; height:600px;' src="{{ url_for('evening_map') }}" frameborder="0"></iframe></p>

          <p> The above map indicates the locations of metro stations (green flags), the most popular evening rush hour starting stations (red flags), and the most popular evening rush hour ending stations (blue flags). Clicking on the image will load an interactive map.</p>
        </div>

        <div class="col-md">
          <h3>What stations are considered close?</h3>

          <a href = "{{ url_for('near_map') }}" > <img src="../static/images/all_stations_map_image.PNG"  width=50% /> </a>

          <!--<p><iframe frameborder='0' noresize='noresize'  style= 'position: static; background: transparent; width: 600px; height:600px;' src="{{ url_for('near_map') }}" frameborder="0"></iframe></p>-->

          <p> This map shows metro stations (red) and those bikeshare stations which were considered near to a metro station (within 0.15 miles). Clicking on the image will load an interactive map that you can explore!</p>
        </div>

        <div class="col-md">
          <h3>Complete map</h3>
          <a href = "{{ url_for('all_map') }}" > <img src="../static/images/all_stations_map_image.PNG"  width=50% /> </a>
          <!--<p><iframe frameborder='0' noresize='noresize'  style= 'position: static; background: transparent; width: 600px; height:600px;' src="{{ url_for('all_map') }}" frameborder="0"></iframe></p>-->
          <p> This map shows all stations, both metro and bikeshare that were used in this analysis. Green flags indicate metro stations, red flags indicate bikeshare stations considered near metro stations, and blue flags indicate bikeshare stations considered far from metro stations. For this analysis 0.15 miles was used as the cutoff between near and far. Clicking on the image will load an interactive map that you can explore!</p>
        </div>

        <div class="col-md">
          <h3>Data Sources</h3>
        </div>
        <div class="col-md-6">
          <h3>DC Metro</h3>
          <p>Stations locations were obtained from the WMATA API </p>
          <p><a class="btn btn-default" href="https://developer.wmata.com/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h3>Capital Bikeshare stations</h3>
          <p>All Capital Bikeshare rides can be down loaded in csv tables for each quarter. For this analysis, all rides between 2014-Q4 and 2016-Q3 were considered. Capital Bikeshare stations information (including locations) is available through the Capital Bikeshare website. </p>
          <p><a class="btn btn-default" href="https://www.capitalbikeshare.com/system-data" role="button">View details &raquo;</a></p>
        </div>  
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
