<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Predicting Bikeshare Demand</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		
		
	</head>
	<body>
	
		<div>
  			<h1>Predicting Capital Bikeshare Demand for Washington DC</h1>
  			<h4> This is the address you entered {{address}} and here is the prediction: {{prediction}} </h4>
		</div>

  		<button onclick="goBack()">Go Back</button>
		<script>
		function goBack() {
    						window.history.back();
							}
		</script>
	</body>
</html>
