<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Mini Stock Prices</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>

  			<h1>BikeShare Predicting</h1>
  			<h4> Enter an address </h4>
     

    <form id='ticker_info' method='post' action='predict_result' >
      <p>
    Enter an address: <input type='text' name='address' size="70" />
      </p>
      <p>
          Select the format of you entry: <br />
          <input type='radio' name='input_format' value='LatLong' /> Latitude/Longitude (e.g. 38.89696, -77.00493) <br />
          <input type='radio' name='input_format' value='Address' /> Address (e.g. 1601 Connecticut Ave NW, Washington, DC 20009) <br />
        </p>
      <p>
      <!---Sorry, this isn't ready for heroku!-->
    <input type='submit' value='Predict!' />
      </p>
    </form>
		</div>
	</body>
</html>
